<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product Detail</title>
    <!-- CSS cho giao diện -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update Product Detail</h1>
    <form th:action="@{/productDetail/update/{name}/{password}(name='staff1',password='admin123')}" th:object="${productDetail}" method="post">
        <div>
            <label>Product id</label>
            <input type="number" th:field="*{product.id}">
        </div>
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <!-- Kích thước sản phẩm -->
        <div class="form-group">
            <label for="size">Size:</label>
            <input type="text" class="form-control" id="size" th:field="*{size}">
        </div>
        <!-- Tham số sản phẩm -->
        <div class="form-group">
            <label for="parameter">Parameter:</label>
            <input type="text" class="form-control" id="parameter" th:field="*{parameter}">
        </div>
        <!-- Mô tả sản phẩm -->
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" th:field="*{descripsion}" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
